{% extends "todolist/base.html" %}

{% block title %} Todo List {% endblock %}

{% block content %}
    <h1>Todo List</h1>
    <button class="big"><a href="{% url 'task_add' %}">New task</a></button>
    <input type="search" name="search" placeholder="name, date, tag" />
    <input class="btn" type="submit" value="Search" />
    <button class="big">Hide done</button>
    <br>
    <br>
    <br>
    <button class="big"><a href="{% url 'tags_view' %}">Tags management</a></button>
    <button class="big"><a href="{% url 'tag_add' %}">New tag</a></button>
    <br>
    <br>
    <h2>List of things to do:</h2>
    {% for tag in tagList %}
        <button class="{{ tag }} small" style="background-color:{{ tag.tag_color }}">{{ tag }}</button>
    {% endfor %}
    {% for item in itemList %}

        {% if not item.task_done %}

        {% endif %}
        <li class="{% for tag in item.task_tags.all %} {{ tag }}{% endfor %}">
            <button class="small remove"><a href="{% url 'task_remove' %}"> - </a></button>
            
            <button class="small done"> * </button>
            <a href="{% url 'task_view' item.id %}">{{ item.task_name }} ends at {{ item.task_end_date }} {{ item.task_end_time }}</a>
            {% for tag in item.task_tags.all %}
                <button class="tag" style="background-color:{{ tag.tag_color }}">{{ tag }}</button>
            {% endfor %}
        </li>

        <!-- <script>
            const btn = document.querrySelector("button");
            const filterElement = function() {

            }
        </script> -->
    {% endfor %}

{% endblock %}