{% extends "main/base.html" %}

{% load crispy_forms_tags %}

**todolist/tag_edit.html**

{% block title %} Tag Edit {% endblock %}

{% block content %}
<div class="container">
    <h1>{{ tag.tagName }}</h1>

    {{ form.media }}

    <form method="post">
        <div>
            {% csrf_token %}
            <div class="row">
                <div class="col-3">{{ form.tag_name|as_crispy_field }}</div>
                <div class="col-2">{{ form.tag_color|as_crispy_field }}</div>
            </div>
            <br>
            <input class="btn btn-secondary" type="submit" value="SAVE">
        </div> 
    </form>
    <br>
    <a href="#"><button class="btn btn-secondary">Delete</button></a>
    <a href="/tasks_view/"><button class="btn btn-secondary">Home</button></a>
    <a href="{% url 'tags_view' %}"><button class="btn btn-secondary">Back</button></a>
</div>
{% endblock %}