{% extends "todolist/base.html" %}

{% block title %} Tag Edit {% endblock %}

{% block content %}
    <h1>{{ tag.tagName }}</h1>

    {{ form.media }}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn big" type="submit" value="Save">
    </form>

    <div class="color" style="background-color: {{ tag.tag_color }};"></div>

    <button class="big"><a href="/">Home</a></button>
    <button class="big"><a href="{% url 'tags_view' %}">Back</a></button>

{% endblock %}