{% extends "todolist/base.html" %}

{% block title %} Tag View {% endblock %}

{% block content %}
    <h1>Tag list</h1>

    <div style="margin-bottom: 50px;">
    {% for tag in tagList %}
        <button class="{{ tag }} small" style="background-color:{{ tag.tagColor }}">
            <a href="{% url 'tag_view' tag.id %}">{{ tag.tagName }}</a>
        </button>
    {% endfor %}
    </div>

    <button class="big">
        <a href="/">Back</a>
    </button>
    <button class="big remove">
        <a href="{% url 'task_remove' %}"> - </a>
    </button>            
    <button class="big done"> * </button>

{% endblock %}