{% extends "main/base.html" %}

{% block title %} Tag View {% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Tag list</h1>
    <br>
    <div style="margin-bottom: 20px;">
    {% for tag in tagList %}
        <a href="{% url 'tag_edit' tag.id %}"><button class="{{ tag }} btn" style="background-color:{{ tag.tag_color }}">{{ tag.tag_name }}</button></a>
    {% endfor %}
    </div>
    <a href="{% url 'tag_add' %}"><button class="btn btn-secondary">New tag</button></a>
    <a href="/tasks_view/"><button class="btn btn-secondary">Home</button></a>
</div>
{% endblock %}