{% extends "main/base.html" %}

{% block title %} Tag View {% endblock %}

{% block content %}
    <h1>Tag list</h1>

    <div style="margin-bottom: 50px;">
    {% for tag in tagList %}
        <button class="{{ tag }} small" style="background-color:{{ tag.tag_color }}">
            <a href="{% url 'tag_view' tag.id %}">{{ tag.tag_name }}</a>
        </button>
    {% endfor %}
    </div>

    <button class="big">
        <a href="{% url 'tag_add' %}">New tag</a>
    </button>
    <button class="big">
        <a href="/tasks_view/">Home</a>
    </button>

{% endblock %}