{% extends "main/base.html" %}

{% block title %} Task View {% endblock %}

{% block content %}
<div class="container">
    <h1>Task {{ item.id }}, {{ item.task_name }}</h1>

    <p>Starting Date: {{ item.task_start_date }} {{ item.task_start_time }}</p>
    <p>Deadline: {{ item.task_end_date }} {{ item.task_end_time }}</p>
    <p>Status: {{ item.task_status }}</p>
    <p>Task done: {{ item.task_done }}</p>

    <h3>Note:</h3>
    <p>{{ item.task_note }}</p>

    <a href="/tasks_view/"><button class="btn btn-secondary">Home</button></a>
    <a href="{% url 'task_remove' item.id %}"><button class="btn btn-secondary">Remove</button></a>        
    <a href="{% url 'task_done' item.id %}"><button class="btn btn-secondary">Task done</button></a>
    <a href="{% url 'task_edit' item.id %}"><button class="btn btn-secondary">Edit</button></a>
</div>
{% endblock %}