{% extends "main/base.html" %}

{% load crispy_forms_tags %}

**todolist/task_add.html**

{% block title %} Add a new task {% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Add a new task</h1>

    <form action="/task_add/" method="post">
        {% csrf_token %}
        <div class="row"">
            <div class="col-3">{{ form.task_name|as_crispy_field }}</div>
            <div class="col-2">{{ form.task_status|as_crispy_field }}</div>
            <div class="col-2">{{ form.task_tags|as_crispy_field }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">{{ form.task_start_date|as_crispy_field }}</div>
            <div class="col-2">{{ form.task_start_time|as_crispy_field }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">{{ form.task_end_date|as_crispy_field }}</div>
            <div class="col-2">{{ form.task_end_time|as_crispy_field }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">{{ form.task_note|as_crispy_field }}</div>
        </div>
        <br>
        <input class="btn btn-secondary" type="submit" value="Add">
    </form>

    <br>
    <a href="/tasks_view/"><button class="btn btn-secondary">Home</button></a>
</div>
{% endblock %}