{% extends "main/base.html" %}

{% block title %} Task View {% endblock %}

{% block content %}
<div class="container">
    <h1>Task {{ item.id }}, {{ item.task_name }}</h1>

    <p>Starting Date: {{ item.task_start_date }} {{ item.task_start_time }}</p>
    <p>Deadline: {{ item.task_end_date }} {{ item.task_end_time }}</p>
    <p>Status: {{ item.task_status }}</p>
    <p>Task done: {{ item.task_done }}</p>

    <h3>Note:</h3>
    <p>{{ item.task_note }}</p>

    <button class="big"><a href="/tasks_view/"> Home </a></button>
    <button class="big"><a href="{% url 'task_remove' item.id %}"> Remove </a></button>            
    <button class="big"><a href="{% url 'task_done' item.id %}"> Task done </a></button>
    <button class="big"><a href="{% url 'task_edit' item.id %}"> Edit </a></button>
</div>
{% endblock %}