{% extends "main/base.html" %}

{% block title %} Todo List {% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <br>
        <h1>Todo List ({{ itemList.count }})</h1>
        <!-- <input type="search" name="search" placeholder="name, date, tag" />
        <input class="btn" type="submit" value="Search" /> 
        <button class="big">Hide done</button> -->
        <br>
        <a href="{% url 'tags_view' %}"><button class="btn btn-secondary" type="button">Tags</button></a>
        <a href="{% url 'tag_add' %}"><button class="btn btn-secondary" type="button">+</button></a>
        <br>
        <br>
        {% for tag in tagList %}
            <a href="#"><button class="btn {{ tag }} small" type="button" style="background-color:{{ tag.tag_color }}">{{ tag }}</button></a>
        {% endfor %}
        <br>
        <br>
        <p><a class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTodo" aria-expanded="true" aria-controls="collapseTodo">Todo ({{ itemCount.count }})</a>
        <a href="{% url 'task_add' %}"><button class="btn btn-secondary" type="button">+</button></a></p>
        <div class="collapse.show" id="collapseTodo">
            <div class="card card-body">
                {% for item in itemList %}    
                    {% if not item.task_done and not item.task_trash %}
                        <div class="row itemlist">
                            <a href="{% url 'task_done' item.id %}" class="col-1"><button class="btn btn-secondary btn-sm" type="button">Done</button></a>
                            <a href="{% url 'task_view' item.id %}" class="col-5">{{ item.task_name }} ends at {{ item.task_end_date }} {{ item.task_end_time }}</a>
                            {% if item.task_tags %}
                                <a href="#" class="col-2"><button class="btn col-2 btn-sm col-12" type="button" style="background-color:{{ item.task_tags.tag_color }}">{{ item.task_tags.tag_name }}</button></a>
                            {% else %}
                                <a href="#" class="col-2"><button class="btn btn-secondary btn-sm col-12" type="button">Add a tag</button></a>
                            {% endif %}
                            <a href="{% url 'task_remove' item.id %}" class="col-2"><button class="btn btn-warning btn-sm align-self-end" type="button">Remove</button></a>                  
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <p><button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDone" aria-expanded="false" aria-controls="collapseDone">Done ({{ doneCount.count }})</button></p>
        <div class="collapse" id="collapseDone">
            <div class="card card-body">
                {% for item in itemList %}     
                    {% if item.task_done and not item.task_trash %}
                        <div class="row itemlist">
                            <a href="{% url 'task_done' item.id %}" class="col-1"><button class="btn btn-secondary btn-sm" type="button">Undo</button></a>
                            <a href="{% url 'task_view' item.id %}" class="col-5">{{ item.task_name }} ends at {{ item.task_end_date }} {{ item.task_end_time }}</a>
                            {% if item.task_tags %}
                                <a href="#" class="col-2"><button class="btn col-2 btn-sm col-12" type="button" style="background-color:{{ item.task_tags.tag_color }}">{{ item.task_tags.tag_name }}</button></a>
                            {% else %}
                                <a href="#" class="col-2"><button class="btn btn-secondary btn-sm  col-12" type="button">Add a tag</button></a>
                            {% endif %}
                            <a href="{% url 'task_remove' item.id %}" class="col-2"><button class="btn btn-warning btn-sm" type="button">Remove</button></a>                 
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <p><button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrash" aria-expanded="false" aria-controls="collapseTrash">Trash ({{ trashCount.count }})</button></p>
        <div class="collapse" id="collapseTrash">
            <div class="card card-body">
                {% for item in itemList %}     
                    {% if item.task_trash %}
                        <div class="row itemlist">
                            <a href="{% url 'task_undo_remove' item.id %}" class="col-1"><button class="btn btn-secondary btn-sm" type="button">Restore</button></a>
                            <a href="{% url 'task_view' item.id %}"  class="col-5">{{ item.task_name }} ends at {{ item.task_end_date }} {{ item.task_end_time }}</a>
                            {% if item.task_tags %}
                                <a href="#" class="col-2"><button class="btn col-2 btn-sm col-12" type="button" style="background-color:{{ item.task_tags.tag_color }}">{{ item.task_tags.tag_name }}</button></a>
                            {% else %}
                                <a href="#" class="col-2"><button class="btn btn-secondary btn-sm col-12" type="button">Add a tag</button></a>
                            {% endif %}
                            <a href="{% url 'task_perma_remove' item.id %}" class="col-2"><button class="btn btn-danger btn-sm" type="button">Remove</button></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}